---
layout: default
title: "HyG 的博客 - 订阅节点分享"
description: "这里记录着我的前端学习之路，分享高质量的订阅节点。"
keywords: "订阅节点, 前端学习, 技术分享"
---

<div class="page clearfix" index>
    <div class="left">
        <h1>欢迎来到 HyG 的博客！</h1>
        <small>这里记录着我的前端学习之路</small>
        <hr>
        <ul>
            {% for post in paginator.posts %}
              <li itemscope itemtype="https://schema.org/Article">
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a>
                </h2>
                <div class="label">
                    <div class="label-card">
                        <i class="fa fa-calendar"></i><time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%F" }}</time>
                    </div>
                    <div class="label-card">
                        {% if post.author %}
                          <i class="fa fa-user"></i><span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>
                        {% endif %}
                    </div>
                    <div class="label-card">
                        {% if page.meta %}
                          <i class="fa fa-key"></i>{{ page.meta }}
                        {% endif %}
                    </div>
                    <div class="label-card">
                        {% include category.html %}
                    </div>
                    <div class="label-card">
                        {% include tag.html %}
                    </div>
                </div>
                <div class="excerpt" itemprop="description">
                    {{ post.excerpt }}
                </div>
                <div class="read-all">
                    <a href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i> 阅读全部</a>
                </div>
                <hr>
              </li>
            {% endfor %}
        </ul>

        <!-- 分页链接 -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
          {% else %}
            <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
            <span class="previous disable"><i class="fa fa-angle-left"></i></span>
          {% endif %}
          <span class="page_number">{{ paginator.page }}/{{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
            <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
          {% else %}
            <span class="next disable"><i class="fa fa-angle-right"></i></span>
            <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
          {% endif %}
        </div>
    </div>
    <div class="right">
        <div class="wrap">
            <!-- 侧边栏内容 -->
        </div>
    </div>
</div>
